#name{
    color:white;
    font-size:.9rem
}

#profile-pic{
    height: 30px;
    border-radius: 100%;
    position: relative;
    right: 10px;
    top: 8px
}

.profile{
    position: absolute;
    right: 40px;
    top: 10px
}