.user-wrapper{
    width: 100%;
    position: relative;
}

.user-grid{
    position: relative;
    display: grid;
    grid-template-columns: 4fr .3fr 1.5fr ;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    width: 1090px;
    height: 750px;
    margin: 20px auto;
}

.artist-top-wrap{
    width: 140px;
    display: block;
    padding: 10px;
}

.user-top-img{
    height: 100px;
}


.user-name{
    font-size: 1rem ;
    font-weight: 300;
    margin: 20px 0;

}

.user-img{
    height: 120px;
    border-radius:5px;
}

.info-wrap {
    grid-column: 1 ;
    grid-row: 1;
    display: flex;  
}

.info-box{
    background-color: rgba(14, 14, 14, 0.418);
    padding:20px;
    border-radius: 3px;
}

.user-info{
    padding-top:16px;
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
}

.user-artist-wrap{
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    padding-top:40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.user-top-tracks-img{
    height: 25px;
    margin-right:5px;
    position: relative;
    top:5px;
}

.user-tracks-wrap{
    grid-column: 4/5;
    grid-row: 1/6;
    padding-top: 43px;
    padding-left: 40px;

    overflow:hidden;
    text-align: left;
}

.user-search{
    grid-column: 2/4;
}

.profile-wrap{
    padding-top:20px;
    padding-left:20px;
}

.tracks-top-wrap{
    margin:5px 0;
}