.playlist-element{
    cursor: pointer;
    background-color: gray;
    height: 30px;
    width: 220px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.playlist-element:hover{
    transition: .5s;
    color:rgb(0, 0, 0);
}

.playlist-list{
    text-align: left;
    margin: 80px 0;
    list-style-type: none;
    max-width: 500px;
}


.playlist-container{
    display: flex;
    justify-content: center;
}

li{
    margin: 10px 0;
}

#playlist-cover{
    position: absolute;
    height: 100px;
    margin:0;
    top:150px;
    z-index: 0;
}