.App {
  text-align: center;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(./img/background_03.jpg);
  background-size: cover;
  color:white;

}

.mask{
  background-color:rgba(0,0,0,.7);
  height: 100%;
}

.app-title{
  font-family: 'Do Hyeon', sans-serif;
  color:rgb(31, 211, 31);
  margin:0;
  padding: 20px;
  font-weight: 300;
  font-size: 5rem;
}

.app-subtitle{
  color:white;
  
  font-size: 1.5rem
}


.log-wrapper{
  margin: 40px auto;
  width: 400px;
  padding-left: 95px;
}

.hatsune{
  width:300px;
  margin-top:20px;
  border-radius:10px;
  animation: slide-up 1s ease;
}